<header id="page-header">
    <div class="row">
        <div class="small-12 columns">
          <h1 class="text-center">Talkative<br/><small>TMI at its best</small></h1>
          <a class="g-signin" href="/auth/google/signin" alt="Sign in with Google!"></a>
        </div>
    </div>
</header>
<main>
  <section>
    <div id="pitch" class="row">
      <div class="medium-6 large-5 columns">
        <img class="hero-iphone" src="/img/iphone-6-silver.png"/>
      </div>
      <div class="medium-6 large-7 columns">
        <h2>Why Talkative?</h2>
        <h3>It's easy.</h3>
        <p>
          Master cleanse chartreuse put a bird on it, 8-bit kinfolk leggings vinyl try-hard normcore. You probably haven't heard of them mustache 90's blog next level brooklyn. Tilde beard farm-to-table, hashtag squid XOXO YOLO direct trade gochujang retro shabby chic art party pour-over try-hard mumblecore.
        </p>
        <h3>It's fun.</h3>
        <p>
          Pork belly cliche asymmetrical, meditation meggings occupy selfies church-key messenger bag polaroid flexitarian squid 8-bit meh viral. Next level narwhal tumblr lo-fi, chartreuse literally vice swag XOXO kickstarter quinoa sustainable blue bottle. Paleo hashtag intelligentsia, kickstarter synth blog franzen biodiesel umami green juice authentic semiotics.
        </p>
        <h3>It's fast.</h3>
        <p>
          Everyday carry PBR&B chia mustache swag, man bun affogato vinyl. Tilde irony franzen YOLO, slow-carb listicle seitan stumptown pop-up meh yr waistcoat man braid. Quinoa williamsburg before they sold out DIY biodiesel trust fund 8-bit.
        </p>
      </div>
    </div>
  </section>
  <section id="features" class="readable">
    <h2 class="text-center">How It Works</h2>
    <div class="row">
      <div class="medium-4 columns">
        <img src="/img/chemistry-bottle.png"/>
        <h3>Service Name</h3>
        Lorem ipsum dolor sit amet, ut has offendit probatus laboramus, ludus affert omnesque nec ex. Ubique postea audiam quo eu, ut sea tempor accusam.
      </div>
      <div class="medium-4 columns">
        <img src="/img/chat-love.png"/>
        <h3>Service Name</h3>
        Lorem ipsum dolor sit amet, ut has offendit probatus laboramus, ludus affert omnesque nec ex. Ubique postea audiam quo eu, ut sea tempor accusam.
      </div>
      <div class="medium-4 columns">
        <img src="/img/pizza.png"/>
        <h3>Service Name</h3>
        Lorem ipsum dolor sit amet. ut has offendit probatus laboramus, ludus affert omnesque nec ex. Ubique postea audiam quo eu, ut sea tempor accusam.
      </div>
    </div>
  </section>
  <section>
    <div id="conclusion" class="row">
        <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
            <h2 class="text-center">Never be lost for words again</h2>
            <a href="htttp://www.example.com">
              <img class="g-signin" src="/img/btn_google_signin_dark_normal_web.png"/>
            </a>
        </div>
    </div>
  </section>
  <footer id="page-footer">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <ul class="inline-list">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="small-12 medium-6 columns">
            <p class="text-right">Copyright © GRPW, 2016</p>
        </div>
    </div>
  </footer>
</main>
