<header id="page-header">
    <div class="row">
        <div class="small-12 columns">
          <h1 class="text-center">Talkative<br/><small>TMI at its best</small></h1>
          <a class="g-signin" href="/auth/google" alt="Sign in with Google!"></a>
        </div>
    </div>
</header>
<main>
  <section class="readable">
    <div id="pitch" class="row">
      <div class="medium-6 large-5 columns">
        <div class="hero-iphone">
          <div class="base"/>
          <div class="news" ng-class="$ctrl.frame === 0 ? '' : 'out'"/>
          <div class="entertainment" ng-class="$ctrl.frame === 1 ? '' : 'out'"/>
          <div class="fact1" ng-class="$ctrl.frame === 2 ? '' : 'out'"/>
          <div class="fact2" ng-class="$ctrl.frame === 3 ? '' : 'out'"/>
        </div>
      </div>
      <div class="medium-6 large-7 columns">
        <h2>What is Talkative?</h2>
        <h3>It's your <span class="emphasis">conversation sidekick.</span></h3>
          <p>
            At Talkative, we believe in good conversation. However,
            spontaneity can be a tricky thing sometimes -- maybe you have a
            case of first date jitters, or you're at a party where you
            don't know anyone. We've all been there, right?
          </p>
          <p>
            That's where our app comes into play. Talkative sends you texts
            filled with the news, entertainment and quirky facts you're
            interested in talking about, as frequently as you want.
          </p>
        <h3>It's <span class="emphasis">versatile.</span></h3>
        <p>
          Sure, we've got a sweet blend of content that's always fresh
          and sourced daily from <a href="https://www.reddit.com/">Reddit</a>.
          But icebreakers aren't our only specialty -- Talkative is useful
          pretty much any time you need a reason to check your phone. Go
          ahead, save us under a decoy name. We won't tell if you won't.
        </p>
        <h3>It's <span class="emphasis">fun.</span></h3>
        <p>
          Less dreading awkward silences, more talking; less routine,
          more discovery. Those sound like winning combinations to us.
          Take Talkative with you in your pocket and jumpstart
          conversations around you today!
        </p>
      </div>
    </div>
  </section>
  <section id="features" class="readable">
    <h2 class="text-center">How It Works</h2>
    <div class="row">
      <div class="medium-4 columns">
        <img src="/img/shoes.png"/>
        <h3>Quick Setup</h3>
        Sign up with your Google Account. When you securely provide us with the phone number you want your Talkative texts sent to, we're off to the races.
      </div>
      <div class="medium-4 columns">
        <img src="/img/chat-love.png"/>
        <h3>Custom Content</h3>
      Have it your way. Want more thought-provoking facts and less politics? Done. Don't want us to blow up your phone every five minutes? We've got that covered, too.
      </div>
      <div class="medium-4 columns">
        <img src="/img/chemistry-bottle.png"/>
        <h3>Talk Away</h3>
          Sparking conversations was never this easy.  Once you've got the conversational ball rolling, you can disable and re-enable Talkative prompts at any time.
      </div>
    </div>
  </section>
  <talkative-footer class="landing-page-footer">
    <h2 class="text-center">Never be lost for words again.</h2>
    <a class="g-signin" href="/auth/google" alt="Sign in with Google!"></a>
  </talkative-footer>
</main>
