<header id="page-header">
    <div class="row">
        <div class="small-12 columns">
          <h1 class="text-center">Talkative<br/><small>TMI at its best</small></h1>
          <a class="g-signin" href="/auth/google/signin" alt="Sign in with Google!"></a>
        </div>
    </div>
</header>
<main>
  <section>
    <div id="pitch" class="row">
      <div class="medium-6 large-5 columns">
        <img class="hero-iphone" src="/img/silver_iphone.png"/>
      </div>
      <div class="medium-6 large-7 columns">
        <h2>Why Talkative?</h2>
        <h3>It's <span class="emphasis">easy.</span></h3>
        <p>
          Master cleanse chartreuse put a bird on it, 8-bit kinfolk leggings vinyl try-hard normcore. You probably haven't heard of them mustache 90's blog next level brooklyn. Tilde beard farm-to-table, hashtag squid XOXO YOLO direct trade gochujang retro shabby chic art party pour-over try-hard mumblecore.
        </p>
        <h3>It's <span class="emphasis">fun.</span></h3>
        <p>
          Pork belly cliche asymmetrical, meditation meggings occupy selfies church-key messenger bag polaroid flexitarian squid 8-bit meh viral. Next level narwhal tumblr lo-fi, chartreuse literally vice swag XOXO kickstarter quinoa sustainable blue bottle. Paleo hashtag intelligentsia, kickstarter synth blog franzen biodiesel umami green juice authentic semiotics.
        </p>
        <h3>It's <span class="emphasis">fast.</span></h3>
        <p>
          Everyday carry PBR&B chia mustache swag, man bun affogato vinyl. Tilde irony franzen YOLO, slow-carb listicle seitan stumptown pop-up meh yr waistcoat man braid. Quinoa williamsburg before they sold out DIY biodiesel trust fund 8-bit.
        </p>
      </div>
    </div>
  </section>
  <section id="features" class="readable">
    <h2 class="text-center">How It Works</h2>
    <div class="row">
      <div class="medium-4 columns">
        <img src="/img/shoes.png"/>
        <h3>Quick Setup</h3>
        Sign up with your Google Account. When you securely provide us with the phone number you want Talkative texts sent to, we're off to the races.
      </div>
      <div class="medium-4 columns">
        <img src="/img/chat-love.png"/>
        <h3>Custom Content</h3>
      Have it your way. Want more thought-provoking facts and less politics? Done. Don't want us to blow up your phone every five minutes? We've got that covered, too.
      </div>
      <div class="medium-4 columns">
        <img src="/img/chemistry-bottle.png"/>
        <h3>Talk Away</h3>
          Sparking conversations was never this easy.  Once you've got the conversational ball rolling, you can disable and re-enable Talkative prompts at any time.
      </div>
    </div>
  </section>
  <talkative-footer class="landing-page-footer">
    <h2 class="text-center">Never be lost for words again.</h2>
    <a class="g-signin" href="/auth/google/signin" alt="Sign in with Google!"></a>
  </talkative-footer>
</main>
