<main class="dashboard">
  <section class="user-preferences">
    <h3>Phone Number</h3>
    <form>
      <div class="input-group">
        <label ng-hide="$ctrl.editingPhoneNumber" class="input-group-label">Current</label>
        <label ng-show="$ctrl.editingPhoneNumber" class="input-group-label">Edit</label>
        <input type="text" class="input-group-field" ng-model="$ctrl.phoneNumber" ng-disabled="!$ctrl.editingPhoneNumber"/>
        <div class="input-group-button">
          <input type="button" value="Edit" class="button"  ng-hide="$ctrl.editingPhoneNumber" ng-click="$ctrl.togglePhoneNumber()"></button>
          <input type="submit" value="Save" class="button" ng-show="$ctrl.editingPhoneNumber" ng-click="$ctrl.togglePhoneNumber()"></button>
        </div>
      </div>
    </form>
    <hr/>

    <h3>
      Talkative Prompts
      <span class="switch prompt-toggle">
        <input class="switch-input" id="on-off" type="checkbox" name="onOffSwitch" ng-model="$ctrl.freqEnabled">
        <label class="switch-paddle" for="on-off">
          <span class="show-for-sr">test</span>
          <span class="switch-active" aria-hidden="true">On</span>
          <span class="switch-inactive" aria-hidden="true">Off</span>
        </label>
      </span>
    </h3>

    <h4>Content Mix</h4>
    <form>
    <fieldset ng-disabled="!$ctrl.freqEnabled">
    <div class="row">
      <p class="medium-3 large-2 columns content-label">
        News
      </p>
      <div class="medium-9 large-10 columns">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.decrementNewsFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.newsFreq == 0"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <input type="range" min="0" max="10" step="1" ng-model="$ctrl.newsFreq">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.incrementNewsFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.newsFreq == 10"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row">
      <p class="medium-3 large-2 columns content-label">
        Entertainment
      </p>
      <div class="medium-9 large-10 columns">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.decrementEntertainmentFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.entertainmentFreq == 0"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <input type="range" min="0" max="10" step="1" ng-model="$ctrl.entertainmentFreq">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.incrementEntertainmentFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.entertainmentFreq == 10"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row">
      <p class="medium-3 large-2 columns content-label">
        Facts
      </p>
      <div class="medium-9 large-10 columns">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.decrementFactsFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.factsFreq == 0"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <input type="range" min="0" max="10" step="1" ng-model="$ctrl.factsFreq">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.incrementFactsFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.factsFreq == 10"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row">
      <p class="medium-3 large-2 columns content-label">
        Romance
      </p>
      <div class="medium-9 large-10 columns">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.decrementRomanceFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.romanceFreq == 0"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <input type="range" min="0" max="10" step="1" ng-model="$ctrl.romanceFreq">
        <button type="button" class="tiny secondary button" ng-click="$ctrl.incrementRomanceFreq()" ng-disabled="!$ctrl.freqEnabled || $ctrl.romanceFreq == 10"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    </fieldset>
    </form>

    <h4>Frequency</h4>
    <form>
    <fieldset ng-disabled="!$ctrl.freqEnabled">
      <p>Your current prompt frequency is {{$ctrl.promptInterval.text.toLowerCase()}}</p>
      <div>
        <label>Select a frequency:</label>
          <select
            ng-options="e.text for e in $ctrl.frequencyOptions track by e.id"
            ng-model="$ctrl.promptInterval"
            required>
          </select>
      </div>
    </fieldset>
    </form>
  </section>
</main>
